<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'add_intervention' %}">Add Intervention</a></li>
                <li><a href="{% url 'intervention_list' %}">Intervention List</a></li>
                <li><a href="{% url 'intervention_impact' %}">Intervention Impact</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
